.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}
.quizes-container header {
  padding: 0 5px;
  margin-bottom: 10px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.quizes-container header h1 {
  font-weight: bold;
  margin-right: 30px;
  font-size: 2em;
}
.quizes-container header input {
  border: none;
  color: #ccc;
  background-color: rgba(128, 128, 128, 0.1);
  padding: 10px;
  border-radius: 5px;
}
